<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">RentEase</a>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link nav-item" href="/listing/new">Add new Listing</a>
        <% if(!currUser) {%>
        <a class="btn btn-danger d-block" href="/signup"><b>Sign Up</b></a>
        <a class="btn btn-danger d-block" href="/login"><b>Log In</b></a>
        <% } %> <% if(currUser) {%>
        <a class="btn btn-danger d-block" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
